//Background Colors
$bg-color-primary: #030a15ba;
$bg-color-primary-dark: #262f35; //#051c38;
$bg-color-primary-light: #6c7784; // #4b688b;
/*$bg-color-secondary: ;
$bg-color-secondary-dark: ;
$bg-color-secondary-light: ;
$bg-color-tertiary: ;
$bg-color-tertiary-dark: ;
$bg-color-tertiary-light: ;*/

//Header Colors
$fnt-hdr-color-light: #d8d8d8;

//Font Colors
$fnt-color-primary: white;
$fnt-color-primary-dark: black;
$fnt-color-primary-light: white;
/*$fnt-color-secondary: ;
$fnt-color-secondary-dark: ;
$fnt-color-secondary-light: ;
$fnt-color-tertiary: ;
$fnt-color-tertiary-dark: ;
$fnt-color-tertiary-light: ;*/