//Background Colors
$bg-color-primary: rgba(3,10,21,.73); //#262f35;
$bg-color-primary-dark: rgb(1, 9, 20);
$bg-color-primary-light: #464d56; // #4b688b;
/*$bg-color-secondary: ;*/
$bg-color-secondary-dark: #04080e;
/*$bg-color-secondary-light: ;
$bg-color-tertiary: ;
$bg-color-tertiary-dark: ;
$bg-color-tertiary-light: ;*/

//Header Colors
$fnt-hdr-color-light: #d8d8d8;

//Font Colors
$fnt-color-primary: white;
$fnt-color-primary-dark: black;
$fnt-color-primary-light: white;
/*$fnt-color-secondary: ;
$fnt-color-secondary-dark: ;
$fnt-color-secondary-light: ;
$fnt-color-tertiary: ;
$fnt-color-tertiary-dark: ;
$fnt-color-tertiary-light: ;*/

//Special Colors
$spl-color-glow-primary: rgb(119, 191, 250);