@import './../../styles/global.scss';

$drop: #d8d8d8;
$water: #00000050;
$water-light: #143996b2;
$water-dark: rgba(0, 0, 0, 0.829);
$water-spot: rgba(0, 0, 255, 0.596);
$wave: rgba(0, 0, 255, 0.51);
$wave-dark: rgba(26, 26, 90, 0.51);
$wave-light: rgba(77, 77, 182, 0.595);
$bg-color: #1c38a0c7;

@keyframes time-lapse {
  0% {
    background-image: linear-gradient(180deg, #292b2beb, #1c222df0, #000000e3, #000000);
  }
  30% {
    background-image: linear-gradient(180deg, #375c67eb, #5e607b, #907990e3, #132033);
  }
  40% {
    background-image: linear-gradient(180deg, #5daac1eb, #7793a9, #847d84e3, #205096);
  }
  50% {
    background-image: linear-gradient(0deg, #438ba1, #a4b6bd, #247790de, #549ab5, #48a0ce57);
  }
  60% {
    background-image: linear-gradient(0deg, #568386eb, #b4b939a1, #839692e0, #ffff94, #adad9d57);
  }
  70% {
    background-image: linear-gradient(0deg, #606467f0, #a55956b0, #a99d94, #6f6f6fd6, #87aab3);
  }
  80% {
    background-image: linear-gradient(0deg, #1f1b1bf0, #131010b0, #404040, #4e4e4ed6, #5d5d5d);
  }
  100% {
    background-image: linear-gradient(180deg, #292b2beb, #1c222df0, #000000e3, #000000);
  }
}


.prof-cover {
    height: 100vh;
    min-height: 40rem;
    //max-height: 50rem;
    width: 100vw;
    min-width: 25rem;
    background-image: linear-gradient(0deg, #1f1b1bf0, #131010b0, #404040, #4e4e4ed6, #5d5d5d);
    animation: time-lapse 60s linear infinite;
    //background-image: 
    //    url("../../../assets/pics/digital_nody_nets_cool.jpg"), 
    //    linear-gradient(to right, rgb(60 84 123 / 67%), rgb(12 42 88 / 82%), rgb(34 66 119 / 68%));
    color: $fnt-hdr-color-light;
    background-blend-mode: overlay;
    background-position: center;
    background-size: cover;
    padding: 4rem 2rem;
    overflow: hidden;
} //.prof-cover

.prof-img {
  transition: all .5s;
  width: 50vw;
  height: 50vw;
  max-width: 20rem;
  max-height: 20rem;
  border-radius: 100rem;
  animation: radiusy1 10s linear infinite;
  overflow: visible;
  margin: auto;
  //background-image: linear-gradient(90deg, transparent, $bg-color-primary, transparent,);
  background-image: linear-gradient(90deg, transparent, rgb(186 187 204 / 66%), transparent,);
  padding: 1rem;
  //box-shadow: 0.1rem 0.1rem 1rem $bg-color-primary-dark;
  &:active, &:hover {
    transform: scale(1.5)  translateY(10vh);
    width: 90vw;
    height: 90vw;
    padding: 0;
    box-shadow: 1px 1px 5px $bg-color-primary-light;
    animation: none;
    img {
      animation: none;
    }
  }
  img {
    width: 100%;
    height: 100%;
    border-radius: 100rem;
    animation: radiusy2 10s linear infinite;
  }
} //.prof-img {

.prof-name {
  transition: all .5s;
  margin: auto;
  text-align: center;
  font-size: 1.4rem;
  &:active, &:hover {
    transform: scale(1.05);
    text-shadow: 1px 1px 2px black;
  }
} //.prof-name {

.prof-img:hover ~ .prof-name,
.prof-img:hover ~ .prof-links .plink-wrap  .plink .iconic-link {
  color: transparent;
  text-shadow: none;
}
.prof-links {
  width: 50vw;
  min-width: 20rem;
  max-width: 30rem;
  margin: auto;
  position: relative;
  .plink-wrap {
    //***** WRAP Calculation *****
    width: 25%; //Assuming 4 links
    float: left;
    .plink {
      width: 10vw;
      min-width: 3.5rem;
      max-width: 5rem;
      height: 10vw;
      min-height: 3.5rem;
      max-height: 5rem;
      margin: auto;
      border-radius: 100rem;
      text-align: center;

      .iconic-link {
        color: $fnt-hdr-color-light;
        text-shadow: 1px 1px 2px black;
        width: 100%;
        height: 100%;
        padding: 30% 0%;
        border-radius: 10rem;
        display: inline-block;
        text-align: center;
        font-size: 2rem;
        transition: all 1s;
        position: relative;
        //background-color: #183a7b;
        &:active, &:hover {
            transform: rotateZ(30deg) scale(.8);
            background-color: #183a7b;
            box-shadow: 1px 1px 5px #cdd9ea;
        }
      }

    } //.plink
  } //.plink-wrap
} //.prof-links

@keyframes radiusy1 {
  20% {
    border-radius: 30rem 20rem;
  }
  50% {
    border-radius: 30rem;
  }
  80% {
    border-radius: 20rem 30rem;
  }
}

@keyframes radiusy2 {
  20% {
    border-radius: 20rem 30rem;
  }
  50% {
    border-radius: 30rem;
  }
  80% {
    border-radius: 30rem 20rem;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.drop-source {
  position: relative;
}


.drop {
  width: 50%;
  height: 50%;
  border-radius: 0 0 100rem 100rem;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $drop;
  opacity: 0;
}

.drop1 {
  animation: 5s drop-fall-and-magical-splash 4s linear infinite;
}

.drop2 {
  animation: 6s drop-fall-and-magical-splash 1s linear infinite;
}

.drop3 {
  animation: 7s drop-fall-and-magical-splash 0s linear infinite;
}

.drop4 {
  animation: 6s drop-fall-and-magical-splash 6s linear infinite;
}

.drop-fade1 {
  animation: 5s fade 4s linear infinite;
}

.drop-fade2 {
  animation: 6s fade 1s linear infinite;
}

.drop-fade3 {
  animation: 7s fade 0s linear infinite;
}

.drop-fade4 {
  animation: 6s fade 6s linear infinite;
}

.water {
  width: 200vw;
  height: 2vh;
  background-color: $water-dark;
  position: absolute;
  left: -50vw;
  top: 20vh;
  opacity: .5;

  &::after {
    position: absolute;
    content: "";
    background-color: $water;
    top: 100%;
    width: 100%;
    height: 100vh;
  }
}

@keyframes drop-fall-and-magical-splash {
  0% {
    border-radius: 1rem 1rem 10rem 10rem;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.2);
  }
  10% {
    border-radius: 100rem;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.6);
  }
  20% {
    top: 55%;
    opacity: .5;
    transform: rotateZ(45deg) translate(-50%) scale(.9);
    border-radius: 5rem 10rem 15rem 10rem;
  }
  21% {
    top: 65%;
    opacity: .5;
    border-radius: 5rem 10rem 15rem 10rem;
  }
  46% {
    background-color: $drop;
    background-image: none;
    top: 30vh;
    opacity: .5;
    transform: translate(-50%, -50%) scaleX(.7) scaleY(.9);
    border: none;
    border-radius: 100rem;
  }
  47% {
    background-color: $water-light;
    transform:  translate(-50%, -50%) scaleX(.2) scaleY(.2) rotateX(60deg);
  }
  50% {
    transform:  translate(-50%, -50%) scaleX(10) scaleY(3) rotateX(90deg);
    background-image: linear-gradient(0deg, $water-dark, $water);
    border-bottom-color: $water-dark;
    border-style: solid;
    border-top-color: $water-light;
    border-top-width: .5rem;
    border-top-style: dotted;
    border-right-color: $water;
    border-right-width: 2rem;
    border-right-style: dotted;
    border-left-color: $water-light;
    border-left-width: .1rem;
    border-left-style: dotted;
    border-radius: .1rem;
    top: 30vh;
    opacity: 1;
  }
  51% {
    transform:  translate(-50%, -50%) scaleX(10) scaleY(3) rotateX(80deg);
  }
  58% {
    background-color: $water-light;
    background-image: linear-gradient(45deg, transparent, $wave-light, transparent);
    border-width: 1rem .5rem .1rem .5rem;
    border-color: $wave;
    border-style: solid;
    transform: scaleX(30) scaleY(15) rotateX(87deg);
    top: 32vh;
    border-radius: 1000rem;
    opacity: .5;
  }
  70% {
    background-color: transparent;
    transform:  translate(-50%, -50%) scaleX(80) scaleY(15) rotateX(85deg);
    border-width: .1rem .2rem .5rem .2rem;
    border-color: $wave;
    border-bottom-color: $wave-light;
    border-style: solid;
    top: 35vh;
    opacity: .3;
    border-radius: 1000rem;
    border-style: dashed;
  }
  80% {
    top: 40vh;
    background-color: transparent;
    border-color: $wave;
    border-bottom-color: $wave-light;
    transform: scaleX(200) scaleY(20) rotateX(80deg);
    border-width: .2rem .4rem 2rem .4rem;
    opacity: .1;
    border-radius: 1000rem;
    border-style: dotted;
  }
  100% {
    top: 100vh;
    opacity: 0;
    border-width: 2rem 4rem 20rem 4rem;
    transform: scaleX(1000) scaleY(50) rotateX(90deg);
    background-color: transparent;
    border-color: $wave;
    border-bottom-color: $wave-light;
    border-style: dotted;
    border-radius: 1000rem;
  }
  
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  15% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 0.1;
  }
  55% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

