@import './../../styles/global.scss';

//*** https://pixabay.com/illustrations/digitization-transformation-binary-5140055/ 

.prof-cover {
    height: 100vh;
    min-height: 40rem;
    max-height: 42rem;
    width: 100vw;
    min-width: 25rem;
    background-image: 
        url(/assets/pics/digital_nody_nets_cool.jpg), 
        linear-gradient(to right, rgb(60 84 123 / 67%), rgb(12 42 88 / 82%), rgb(34 66 119 / 68%));
    color: $fnt-hdr-color-light;
    background-blend-mode: overlay;
    background-position: center;
    background-size: cover;
    padding: 4rem 2rem;
} //.prof-cover

.prof-img {
  transition: all .5s;
  width: 50vw;
  height: 50vw;
  max-width: 20rem;
  max-height: 20rem;
  border-radius: 100rem;
  animation: radiusy1 10s linear infinite;
  overflow: visible;
  margin: auto;
  background-image: linear-gradient(90deg, transparent, $bg-color-primary, transparent,);
  padding: .1rem;
  box-shadow: 0.1rem 0.1rem 1rem $bg-color-primary-dark;
  &:active, &:hover {
    transform: scale(1.5)  translateY(10vh);
    width: 90vw;
    height: 90vw;
    padding: 0;
    box-shadow: 1px 1px 5px $bg-color-primary-light;
    animation: none;
    img {
      animation: none;
    }
  }
  img {
    width: 100%;
    height: 100%;
    border-radius: 100rem;
    animation: radiusy2 10s linear infinite;
  }
} //.prof-img {

.prof-name {
  transition: all .5s;
  margin: auto;
  text-align: center;
  font-size: 1.4rem;
  &:active, &:hover {
    transform: scale(1.05);
    text-shadow: 1px 1px 2px black;
  }
} //.prof-name {

.prof-img:hover ~ .prof-name,
.prof-img:hover ~ .prof-links .plink-wrap  .plink .iconic-link {
  color: transparent;
  text-shadow: none;
}
.prof-links {
  width: 50vw;
  min-width: 20rem;
  max-width: 30rem;
  margin: auto;
  .plink-wrap {
    //***** WRAP Calculation *****
    width: 25%; //Assuming 4 links
    float: left;
    .plink {
      width: 10vw;
      min-width: 3.5rem;
      max-width: 5rem;
      height: 10vw;
      min-height: 3.5rem;
      max-height: 5rem;
      margin: auto;
      border-radius: 100rem;
      text-align: center;

      .iconic-link {
        color: $fnt-hdr-color-light;
        text-shadow: 1px 1px 2px black;
        width: 100%;
        height: 100%;
        padding: 30% 0%;
        border-radius: 10rem;
        display: inline-block;
        text-align: center;
        font-size: 2rem;
        transition: all 1s;
        &:active, &:hover {
            transform: rotateZ(30deg) scale(.8);
            background-color: $bg-color-primary-dark;
            box-shadow: 1px 1px 5px $bg-color-primary-light;
        }
      }

    } //.plink
  } //.plink-wrap
} //.prof-links

@keyframes radiusy1 {
  20% {
    border-radius: 30rem 20rem;
  }
  50% {
    border-radius: 30rem;
  }
  80% {
    border-radius: 20rem 30rem;
  }
}

@keyframes radiusy2 {
  20% {
    border-radius: 20rem 30rem;
  }
  50% {
    border-radius: 30rem;
  }
  80% {
    border-radius: 30rem 20rem;
  }
}