@import './../../styles/global.scss';

//*** https://pixabay.com/illustrations/digitization-transformation-binary-5140055/ 

.prof-cover {
    height: 100vh;
    min-height: 40rem;
    //max-height: 50rem;
    width: 100vw;
    min-width: 25rem;
    background-color: #2c333e;
    //background-image: 
    //    url("../../../assets/pics/digital_nody_nets_cool.jpg"), 
    //    linear-gradient(to right, rgb(60 84 123 / 67%), rgb(12 42 88 / 82%), rgb(34 66 119 / 68%));
    color: $fnt-hdr-color-light;
    background-blend-mode: overlay;
    background-position: center;
    background-size: cover;
    padding: 4rem 2rem;
    overflow: hidden;
} //.prof-cover

.prof-img {
  transition: all .5s;
  width: 50vw;
  height: 50vw;
  max-width: 20rem;
  max-height: 20rem;
  border-radius: 100rem;
  animation: radiusy1 10s linear infinite;
  overflow: visible;
  margin: auto;
  //background-image: linear-gradient(90deg, transparent, $bg-color-primary, transparent,);
  background-image: linear-gradient(90deg, transparent, rgb(135 150 255 / 79%), transparent,);
  padding: .1rem;
  box-shadow: 0.1rem 0.1rem 1rem $bg-color-primary-dark;
  &:active, &:hover {
    transform: scale(1.5)  translateY(10vh);
    width: 90vw;
    height: 90vw;
    padding: 0;
    box-shadow: 1px 1px 5px $bg-color-primary-light;
    animation: none;
    img {
      animation: none;
    }
  }
  img {
    width: 100%;
    height: 100%;
    border-radius: 100rem;
    animation: radiusy2 10s linear infinite;
  }
} //.prof-img {

.prof-name {
  transition: all .5s;
  margin: auto;
  text-align: center;
  font-size: 1.4rem;
  &:active, &:hover {
    transform: scale(1.05);
    text-shadow: 1px 1px 2px black;
  }
} //.prof-name {

.prof-img:hover ~ .prof-name,
.prof-img:hover ~ .prof-links .plink-wrap  .plink .iconic-link {
  color: transparent;
  text-shadow: none;
}
.prof-links {
  width: 50vw;
  min-width: 20rem;
  max-width: 30rem;
  margin: auto;
  position: relative;
  .plink-wrap {
    //***** WRAP Calculation *****
    width: 25%; //Assuming 4 links
    float: left;
    .plink {
      width: 10vw;
      min-width: 3.5rem;
      max-width: 5rem;
      height: 10vw;
      min-height: 3.5rem;
      max-height: 5rem;
      margin: auto;
      border-radius: 100rem;
      text-align: center;

      .iconic-link {
        color: $fnt-hdr-color-light;
        text-shadow: 1px 1px 2px black;
        width: 100%;
        height: 100%;
        padding: 30% 0%;
        border-radius: 10rem;
        display: inline-block;
        text-align: center;
        font-size: 2rem;
        transition: all 1s;
        position: relative;
        //background-color: #183a7b;
        &:active, &:hover {
            transform: rotateZ(30deg) scale(.8);
            background-color: #183a7b;
            box-shadow: 1px 1px 5px #cdd9ea;
        }
      }

    } //.plink
  } //.plink-wrap
} //.prof-links

@keyframes radiusy1 {
  20% {
    border-radius: 30rem 20rem;
  }
  50% {
    border-radius: 30rem;
  }
  80% {
    border-radius: 20rem 30rem;
  }
}

@keyframes radiusy2 {
  20% {
    border-radius: 20rem 30rem;
  }
  50% {
    border-radius: 30rem;
  }
  80% {
    border-radius: 30rem 20rem;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.drop-source {
  position: relative;
}


.drop {
  width: 40%;
  height: 40%;
  border-radius: 100px;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #d8d8d8;
  opacity: 0;
}

.drop1 {
  animation: 5s drop-fall-and-magical-splash 4s linear infinite;
}

.drop2 {
  animation: 6s drop-fall-and-magical-splash 1s linear infinite;
}

.drop3 {
  animation: 7s drop-fall-and-magical-splash 0s linear infinite;
}

.drop4 {
  animation: 6s drop-fall-and-magical-splash 6s linear infinite;
}

.drop-fade1 {
  animation: 5s fade 4s linear infinite;
}

.drop-fade2 {
  animation: 6s fade 1s linear infinite;
}

.drop-fade3 {
  animation: 7s fade 0s linear infinite;
}

.drop-fade4 {
  animation: 6s fade 6s linear infinite;
}

.water {
  width: 200vw;
  height: 2vh;
  background-color: black;
  position: absolute;
  left: -50vw;
  top: 20vh;
  opacity: .5;

  &::after {
    position: absolute;
    content: "";
    background-color: #06070a;
    top: 100%;
    width: 100%;
    height: 100vh;
  }
}

@keyframes drop-fall-and-magical-splash {
  0% {
    top: 70%;
  }
  30% {
    top: 70%;
    opacity: .5;
  }
  49% {
    background-color: #d8d8d8;
    top: 19vh;
    opacity: 1;
    transform: translate(-50%, -50%) scaleX(.7) scaleY(.9);
    border: none;
  }
  50% {
    transform:  translate(-50%, -50%) scaleX(1.5) scaleY(.5);
    background-color: white;
    border: 5vh solid blue;
    border-radius: 50rem 100rem 100vh 100vh;
    top: 50vh;
  }
  55% {
    background-color: rgb(135 150 255 / 79%);
    top: 23vh;
    opacity: 0;
  }
  60% {
    background-color: rgb(135 150 255 / 79%);
    transform:  translate(-50%, -50%) scaleX(100) scaleY(5);
    border: none;
    top: 26vh;
    //left: auto;
  }
  99% {
    height: 100%;
  }
  100% {
    top: 21vh;
    height: 100vh;
    opacity: 0;
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 0.1;
  }
  55% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

