<div class="prof-cover">

    <div class="theme theme1" [ngClass]="{'show-theme':currentThemeId===1}"></div>
    <div class="theme theme2" [ngClass]="{'show-theme':currentThemeId===2}"></div>
    <div class="theme theme3" [ngClass]="{'show-theme':currentThemeId===3}"></div>
    <div class="theme theme4" [ngClass]="{'show-theme':currentThemeId===4}"></div>
    <div class="theme theme5" [ngClass]="{'show-theme':currentThemeId===5}"></div>
    <div class="theme theme6" [ngClass]="{'show-theme':currentThemeId===6}"></div>
    <div class="theme theme7" [ngClass]="{'show-theme':currentThemeId===7}"></div>
    <div class="theme theme8" [ngClass]="{'show-theme':currentThemeId===8}"></div>
    <div class="theme theme9" [ngClass]="{'show-theme':currentThemeId===9}"></div>

    <app-cloudbox></app-cloudbox>

    <div class="prof-img"><img src="assets/pics/MahaaprabhuCasMod.png"></div>

    <div class="break-box"></div>

    <!--<div class="prof-name">
      <h1>Mahaaprabhu Elangoventhan</h1>
    </div>-->
    <div class="header__texts">
      <p class="header__texts__greet">Hi There...! {{greetingWithContext}} :)</p>
      <p  class="header__texts__intro">I'm Mahaaprabhu Elangoventhan</p>
    </div>

    <div class="break-box"></div>
    <div class="break-box"></div>

    <div class="prof-links">
      <div class="water"></div>
      <div class="plink-wrap">
        <div class="plink drop-source">
          <a class="iconic-link" href="https://www.github.com/Mahaaprabhu" target="_blank">
            <i class="fab fa-github drop-fade1"></i>
          </a>
          <div class="drop drop1"></div>
        </div>
      </div>
      <div class="plink-wrap">
        <div class="plink drop-source">
          <a class="iconic-link" href="https://www.linkedin.com/in/mahaaprabhu" target="_blank">
            <i class="fab fa-linkedin drop-fade2"></i>
          </a>
          <div class="drop drop2"></div>
        </div>
      </div>
      <div class="plink-wrap">
        <div class="plink drop-source">
          <div class="iconic-link" (click)="onOpenPopup('EMAIL')">
            <i class="fas fa-envelope drop-fade3"></i>
          </div>
          <div class="drop drop3"></div>
        </div>
      </div>
      <div class="plink-wrap" >
        <div class="plink drop-source">
          <div class="iconic-link" (click)="onOpenPopup('PHONE')">
            <i class="fas fa-phone drop-fade4"></i>
          </div> 
          <div class="drop drop4"></div>
        </div>
      </div>
    </div>

    <app-popup *ngIf="openPopup" 
                (closePopup)="onClosePopups()"
                [popupType]="popupType"
                [popupContent]="popupContent"
                ></app-popup>

</div>