$drop: #d8d8d8;
$water: #00000050;
$water-light: #143996b2;
$water-dark: rgba(0, 0, 0, 0.829);
$water-spot: rgba(0, 0, 255, 0.596);
$wave: rgba(0, 0, 255, 0.51);
$wave-dark: rgba(26, 26, 90, 0.51);
$wave-light: rgba(77, 77, 182, 0.595);

.theme {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    opacity: 0;
    transition: all 5s ease-in-out;
}

.show-theme {
    opacity: 1;
}

.theme1 {
    background-image: linear-gradient(180deg, #262a48, #524a52, #82457cb5, #0d2252);
}
.theme2 {
    background-image: linear-gradient(180deg, #255386, #5587b9, #607cade3, #122b50);
}
.theme3 {
    background-image: linear-gradient(180deg, #5091b7, #4f85b5, #7091cce3, #1b414a);
}
.theme4 {
    background-image: linear-gradient(180deg, #388bb7, #6899bd, #467ea7e0, #1d6873);
}
.theme5 {
    background-image: linear-gradient(180deg, #484a4891, #afa549bf, #968533c7, #343a32);
}
.theme6 {
    background-image: linear-gradient(180deg, #cabfb7, #ad8c768f, #8d9ba0, #6c746a);
}
.theme7 {
    background-image: linear-gradient(180deg, #4c474a, #8c2728c4, #ff1010cc, #0c0d35f0);
}
.theme8 {
    background-image: linear-gradient(180deg, #0f272dc7, #3f5250, #181819);
}
.theme9 {
    background-image: linear-gradient(180deg, #17171b, #171616fa, #000000, #0a062b);
}

.drop-source {
    position: relative;
}
  
.drop {
    width: 50%;
    height: 50%;
    border-radius: 0 0 100rem 100rem;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $drop;
    opacity: 0;
}
  
.drop1 {
    animation: 5s drop-fall-and-magical-splash 4s linear infinite;
}
  
.drop2 {
    animation: 6s drop-fall-and-magical-splash 1s linear infinite;
}
  
 .drop3 {
    animation: 7s drop-fall-and-magical-splash 0s linear infinite;
 }
  
 .drop4 {
    animation: 6s drop-fall-and-magical-splash 6s linear infinite;
 }
  
 .drop-fade1 {
    animation: 5s fade 4s linear infinite;
 }
  
 .drop-fade2 {
    animation: 6s fade 1s linear infinite;
 }
  
 .drop-fade3 {
    animation: 7s fade 0s linear infinite;
 }
  
 .drop-fade4 {
    animation: 6s fade 6s linear infinite;
 }
  
.water {
    width: 200vw;
    height: 2vh;
    background-image: linear-gradient(to bottom, #000000, #00000070);
    position: absolute;
    left: -50vw;
    top: 20vh;
    opacity: .5;
  
    &::after {
      position: absolute;
      content: "";
      background-color: $water;
      top: 100%;
      width: 100%;
      height: 100vh;
    }
}
