<div class="prof-cover">
    <div class="prof-img"><img src="assets/pics/MahaaprabhuCasMod.png"></div>
    <div class="brake-box"></div>
    <div class="prof-name">
      <h1>Mahaaprabhu Elangoventhan</h1>
    </div>
    <div class="brake-box"></div>
    <div class="prof-links">
      <div class="plink-wrap">
        <div class="plink">
          <a class="iconic-link" href="https://www.github.com/Mahaaprabhu" target="_blank"><i class="fab fa-github"></i></a>
        </div>
      </div>
      <div class="plink-wrap">
        <div class="plink">
          <a class="iconic-link" href="https://www.linkedin.com/in/mahaaprabhu" target="_blank"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>
      <div class="plink-wrap" (click)="onOpenPopup('EMAIL')">
        <div class="plink">
          <div class="iconic-link"><i class="fas fa-envelope"></i></div>
        </div>
      </div>
      <div class="plink-wrap" (click)="onOpenPopup('PHONE')">
        <div class="plink">
          <div class="iconic-link"><i class="fas fa-phone"></i></div> 
        </div>
      </div>
    </div>

    <app-popup *ngIf="openPopup" 
                (closePopup)="onClosePopups()"
                [popupType]="popupType"
                [popupContent]="popupContent"
                ></app-popup>

  </div>