@import './../../styles/global.scss';

.popup-back-drop {
    position: fixed;
    z-index: 1000;
    min-height: 100vh;
    min-width: 100vw;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .95;
    background-color: $bg-color-primary-dark;
    color: $fnt-color-primary-light;
    overflow: scroll;
}

.popup-boundary {
    position: absolute;
    z-index: 1001;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 1s;
    width: 80vw;
    max-width: 60rem;
    height: 40vh;
    max-height: 40rem;
    min-height: 20rem;
    padding: 2rem;
    border-radius: 3rem;
    border: .2rem solid $bg-color-primary;
    box-shadow: 0rem 0rem 4rem $bg-color-primary;

    .close-popup-icon {
        z-index: 1002;
        top: .5vw;
        right: .5vw;
        display: block;
        position: absolute;
        font-size: 3rem;
        color: $bg-color-primary-light;
        transition-duration: all .5s;
    }
    .close-popup-icon:hover {
        color: red;
        transform: scale(1.1) rotate(-10deg);
    }
    .popup {
        height: 100%;
        width: 100%;
        border-radius: 3rem;
        padding: 2rem;
        border: .5px solid $bg-color-primary;
        &-display {
            width: 100%;
            height: 60%;
            background-color: $bg-color-primary-dark;
            color: $bg-color-primary-light;
            position: relative;
            font-size: x-large;
            font-weight: bold;
            text-align: center;
        }
        .special-color {
            font-size: xx-large;
            color: rgb(119, 191, 250);
        }
        &-display:hover {
            font-size: xx-large;
            color: rgb(119, 191, 250);
        }
        &-btns {
            width: 100%;
            height: 40%;
            .popup-btn {
                width: 50%;
                height: 100%;
                float: left;
                background-color: $bg-color-primary-dark;
                color: $bg-color-primary-light;
                position: relative;
                box-shadow: 0rem .2rem .5rem $bg-color-primary;
            }
            .popup-btn:hover {
                box-shadow: 0rem .2rem .5rem rgb(119, 191, 250);
            }
            .popup-btn:active {
                color: rgb(119, 191, 250);
                font-size: 5rem;
                text-shadow: 0 0 1rem white;
                box-shadow: none;
            }
        }
    }
}

.action-icon {
    font-size: 4rem;
}