<div class="popup-back-drop">
</div>

<div class="popup-boundary">
    <i class="fa fa-times close-popup-icon" (click)="onClosePopup()"></i>
    <div class="popup">
        <div class="popup-display">
            <div class="display-content centered"
                 [ngClass]="{
                    'special-color': displaySpecialColor
                  }">
                <label>{{popupContent}}</label>
            </div>
        </div>
        <div class="popup-btns">
            <a *ngIf="popupType === 'PHONE'" [href]="'tel:'+getClearedData()">
                <div class="popup-btn">
                    <div class="popup-action-btn  centered">
                        <i class="fas fa-phone action-icon"></i>
                    </div>
                </div>     
            </a>

            <a *ngIf="popupType === 'EMAIL'" [href]="'mailto:'+getClearedData()">
                <div class="popup-btn">
                    <div class="popup-action-btn  centered">
                        <i class="fas fa-envelope action-icon"></i>
                    </div>
                </div>
            </a>
            
            <div class="popup-btn" (click)="onClipboardCopy()">
                <div class="popup-action-btn  centered">
                    <i class="fas fa-copy action-icon"></i>
                </div>
            </div>
        </div>
    </div>
</div>