@import './../../styles/global.scss';

.popup-back-drop {
    position: fixed;
    z-index: 1000;
    min-height: 100vh;
    min-width: 100vw;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000e8;
    overflow: scroll;
}

.popup-boundary {
    position: absolute;
    z-index: 1001;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 1s;
    width: 80vw;
    max-width: 60rem;
    height: 40vh;
    max-height: 40rem;
    min-height: 20rem;
    padding: 2rem;
    border-radius: 3rem;
    border: 0.1rem solid #8698ad;

    .close-popup-icon {
        z-index: 1002;
        top: 0.5vw;
        right: 0.5vw;
        display: block;
        position: absolute;
        font-size: 3rem;
        color: #b33434bf;
        background-color: #00000087;
        border-radius: 100rem;
        width: 3rem;
        height: 3rem;
        text-align: center;
        transition: all 0.5s;
    }
    .close-popup-icon:hover {
        color: #00000087;
        background-color: #b33434bf;
        transform: scale(1.5) rotate(-10deg);
    }
    .popup {
        height: 100%;
        width: 100%;
        border-radius: 3rem;
        background-color: #00000087;
        box-shadow: 0rem 0rem 4rem #ffffff;
        &-display {
            width: 100%;
            height: 60%;
            color: #a0a1a2;
            position: relative;
            font-size: x-large;
            font-weight: bold;
            text-align: center;
        }
        .special-color {
            font-size: xx-large;
            color: $spl-color-glow-primary;
            text-shadow: 0 0 1rem white;
        }
        &-display:hover {
            font-size: xx-large;
        }
        &-btns {
            width: 100%;
            height: 40%;
            .popup-btn {
                width: 50%;
                height: 100%;
                float: left;
                color: #a0a1a2;
                position: relative;
            }
            .popup-btn:hover {
                background-color: $bg-color-primary;
            }
            .popup-btn:active {
                background-color: $bg-color-primary;
                color: $spl-color-glow-primary;
                font-size: 5rem;
                text-shadow: 0 0 1rem white;
                box-shadow: none;
            }
        }
    }
}

.action-icon {
    font-size: 4rem;
}

.left-btm-radius {
    border-radius: 0 0 0 3rem;
}

.right-btm-radius {
    border-radius: 0 0 3rem 0;
}
