<div class="prof-cover">
  <div class="prof-img"></div>
  <div class="brake-box"></div>
  <div class="prof-name">
    <h1>Mahaaprabhu Elangoventhan</h1>
  </div>
  <div class="brake-box"></div>
  <div class="prof-links">
    <div class="plink-wrap">
      <div class="plink">L1</div>
    </div>
    <div class="plink-wrap">
      <div class="plink">L1</div>
    </div>
    <div class="plink-wrap">
      <div class="plink">L1</div>
    </div>
    <div class="plink-wrap">
      <div class="plink">L1</div>
    </div>
  </div>
</div>