.cloud {
    position: absolute;
    width: 1000vw;
    height: 60vh;
    opacity: .05;
    background-color: transparent;
    animation: move 10s linear infinite;
}

  
 .cloud-layer {
    position: absolute;
    left: 20%;
    top: 0;
    height: 80%;
    width: 80%;
    border-radius: 60% 30% 40% 30%;
    background-image: radial-gradient(rgba(128, 128, 128, 0.507), white);
    
    &::after {
      position: absolute;
      content: "";
      width: 80%;
      height: 60%;
      left: -30%;
      top: 20%;
      border-radius: 50% 20% 50% 50%;
      background-image: radial-gradient(rgba(128, 128, 128, 0.562), white);
    }
    
    &::before {
      position: absolute;
      content: "";
      width: 70%;
      height: 80%;
      right: -30%;
      top: 50%;
      border-radius: 30% 60% 40% 70%;
      background-image: radial-gradient(rgba(128, 128, 128, 0.5), white);
    }
    
 }
  
 .cloud-layer1 {
    transform: rotateZ(180deg) scaleX(1.2) scaleY(.9) translate(0%, -40%);
    transform-origin: center;
    box-shadow: 0 0 1vw white;
 }
  
.cloud-layer2 {
    box-shadow: 0 0 1vw white;
 }

.cloud-layer3 {
    transform: rotateZ(180deg) scaleX(.8) scaleY(.5) translate(20%, -50%);
    transform-origin: center;
    box-shadow: 0 0 1vw white;
}
  
.cloud-layer4 {
    transform: rotateZ(0deg) scaleX(.7) scaleY(.8) translate(-10%, -50%);
    transform-origin: center;
    box-shadow: 0 0 1vw white;
}

.cloud-layer5 {
    transform: rotateZ(180deg) scaleX(.6) scaleY(.5) translate(0%, -30%);
    transform-origin: center;
    box-shadow: 0 0 1vw white;
}

@keyframes move {
    from {
        transform: translate(-100%, -20vh) scale(.7);
    }
    50% {
        transform: translate(10vw, -10vh) scale(1, 1);
    }
    to {
        transform: translate(20vw, 50vh) scale(.05, .01) rotateY(180deg);
        opacity: 0;
    }
}