* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    min-height: 100vh;
    font-size: 62.5%;
}

body {
    background-image: linear-gradient(45deg, black, rgba(0, 0, 0, 0.8));
}

.break-box-small {
    height: .5rem;
}

.break-box {
    height: 1rem;
}

.break-box-large {
    height: 2rem;
}

.centered {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
