.cloudbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 60vh;
    z-index: -10;
    overflow: hidden;
    transform-origin: center;
    transition: all 100ms ease-in-out;
    will-change: transform, opacity, translate;
}


.visible-cloud {
    animation: show-cloud 10s linear;
}

.invisible-cloud {
    animation: hide-cloud 10s linear;
}

.cloud1 {
    position: absolute;
    left: -20%;
    top: 4%;
}

.cloud2 {
    position: absolute;
    left: -20%;
    top: 10%;
    transform: scaleX(1.5) scaleY(1.3);
}

.cloud3 {
    position: absolute;
    left: -40%;
    top: 2%;
    transform: scaleX(1) scaleY(1.5);
}

.cloud4 {
    position: absolute;
    left: -50%;
    top: 0;
}

.cloud5 {
    position: absolute;
    top: 2%;
    transform: scaleX(1.5) scaleY(1.3);
}

.cloud6 {
    position: absolute;
    left: 0%;
    top: -5%;
    transform: scaleX(1.5) scaleY(1.3);
}

.cloud7 {
    position: absolute;
    top: 13%;
    transform: scaleX(.6) scaleY(.7);
}

.cloud8 {
    position: absolute;
    top: 10%;
    transform: scaleX(.8) scaleY(.5);
}

.cloud9 {
    position: absolute;
    left: -65%;
    top: 30%;
    transform: scaleX(1.5) scaleY(.5);
}

.cloud10 {
    position: absolute;
    left: -40%;
    top: 20%;
    transform: scaleX(.5) scaleY(.3);
}

@keyframes show-cloud {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes hide-cloud {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}